<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:http="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- Static resources such as CSS and JS files are ignored by Spring Security -->
	<security:http pattern="/resources/**" security="none" />
	<security:http pattern="/js/**" security="none" />
	<security:http pattern="/cs/**" security="none" />

	<security:http auto-config="true" use-expressions="true">
		<security:form-login login-page="/login "
			authentication-failure-url="/loginfailed" />
		<security:logout invalidate-session ="true" logout-success-url="/login" logout-url="/logout" />
		<security:intercept-url pattern="/"
			access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/f" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/logout" access="permitAll" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="user" password="password"
					authorities="ROLE_USER" />
				<security:user name="admin" password="password"
					authorities="ROLE_USER,ROLE_ADMIN" />
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>

</beans>